# Greetings CSV

In [16]:
import pandas as pd

data = {"query" : ["Hello","Hey","Hey man","Hi","How’s it going","How are you doing?","What’s up?","What’s new?","What’s going on?","How’s everything ?","How are things?","How’s life?","How’s your day?","How’s your day going?","Good morning","Good afternoon","Good evening","Pleased to meet you","How have you been?","How do you do?","Howdy!"," Sup?","Whazzup?","Hiya!"]
}


df = pd.DataFrame(data)

In [17]:
df

                    query
0                   Hello
1                     Hey
2                 Hey man
3                      Hi
4          How’s it going
5      How are you doing?
6              What’s up?
7             What’s new?
8        What’s going on?
9      How’s everything ?
10        How are things?
11            How’s life?
12        How’s your day?
13  How’s your day going?
14           Good morning
15         Good afternoon
16           Good evening
17    Pleased to meet you
18     How have you been?
19         How do you do?
20                 Howdy!
21                   Sup?
22               Whazzup?
23                  Hiya!

In [18]:
df.loc[:, "type"] = "greeting"

In [19]:
df

                    query      type
0                   Hello  greeting
1                     Hey  greeting
2                 Hey man  greeting
3                      Hi  greeting
4          How’s it going  greeting
5      How are you doing?  greeting
6              What’s up?  greeting
7             What’s new?  greeting
8        What’s going on?  greeting
9      How’s everything ?  greeting
10        How are things?  greeting
11            How’s life?  greeting
12        How’s your day?  greeting
13  How’s your day going?  greeting
14           Good morning  greeting
15         Good afternoon  greeting
16           Good evening  greeting
17    Pleased to meet you  greeting
18     How have you been?  greeting
19         How do you do?  greeting
20                 Howdy!  greeting
21                   Sup?  greeting
22               Whazzup?  greeting
23                  Hiya!  greeting

In [31]:
df.to_csv("/home/praveen/Desktop/Projects/technocolab_project_2/nlp_chatbot/input/greetings.csv", index=False)

# TECH QUESTIONS

In [10]:
lists = []

In [11]:
query = "what is "

In [12]:
comp_tech_names = ["ai", "a.i", "computer vision", "cv", "nlp", "rnn", "cnn", "gru", "lstm", "artificial intelligence", "layers", "neural networks", "nn", "bias", "weights", "dropout", "yolo", "mask-rcnn", "rcnn", "faster rcnn", "object detection", "tokenization", "machine learning", "supervised learning", "unsupervised learning", "reinforcement learning", "computation", "parallel processing", "java", "kotlin", "ruby", "alexa", "google assistant", "chatbots", "android", "apple", "google", "nvidia", "gpu", "ios", "web development", "html", "css", "javascript", "full stack", "parallel pocessing", "nokia", "os", "networking", "data science", "data analyst", "analyst", "visualization", "matplotlib", "seaborn", "numpy", "pandas", "tensorflow", "pytorch", "keras", "fast ai", "scikit learn", "gradient descent", "packets", "loss functions", "optimiser", "adam", "entropy", "mse"]

In [13]:
for i in comp_tech_names:
    lists.append(query+i+"?")

In [14]:
q_query = {}
q_query["query"] = lists

In [15]:
q_df = pd.DataFrame(q_query)

In [38]:
q_df.loc[ : , "type"] = "question"

In [41]:
q_df.to_csv("/home/praveen/Desktop/Projects/technocolab_project_2/nlp_chatbot/input/questions.csv", index=False)

In [40]:
q_df

                       query      type
0                what is ai?  question
1               what is a.i?  question
2   what is computer vision?  question
3                what is cv?  question
4               what is nlp?  question
..                       ...       ...
64   what is loss functions?  question
65        what is optimiser?  question
66             what is adam?  question
67          what is entropy?  question
68              what is mse?  question

[69 rows x 2 columns]

# Thanking Sentences

In [1]:
t_list = ["thank you","thanks","tk u","it was very helpful","its insightful","its nice","thank you very much","thank you so much","thank you very much","My thanks and appreciation","Thank you for your assistance","I appreciate your assistance","Thank you for everything you do","You have been most helpful","Many thanks for your assistance","Thank you very much"]

In [2]:
t_dict = {"query" : t_list}

In [5]:
t_df = pd.DataFrame(t_dict)

In [7]:
t_df.loc[ : , "type"] = "compliment"

In [9]:
t_df.to_csv("/home/praveen/Desktop/Projects/technocolab_project_2/nlp_chatbot/input/compliment.csv", index=False)

In [20]:
frames = [df, q_df, t_df]
result = pd.concat(frames)

In [22]:
result

                              query        type
0                             Hello    greeting
1                               Hey    greeting
2                           Hey man    greeting
3                                Hi    greeting
4                    How’s it going    greeting
..                              ...         ...
11     I appreciate your assistance  compliment
12  Thank you for everything you do  compliment
13       You have been most helpful  compliment
14  Many thanks for your assistance  compliment
15              Thank you very much  compliment

[109 rows x 2 columns]

In [23]:
result.to_csv("/home/praveen/Desktop/Projects/technocolab_project_2/nlp_chatbot/input/data.csv", index=False)

Index(['query', 'type'], dtype='object')